html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 55px;
  text-align: center;
}

h2 {
  font-size: 65px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #4a70ff;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 35px 34px 36px;
  border: 7px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff009e;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
