html {
  font-size: 10px;
  font-family: 'Quantico', fancy text;
  background-color: #0f576e;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0 ;
  padding: 20px 0;
  color: #183a52;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}



body {
  width: 600px;
  margin: 0 auto;
  background-color: #2e9dbf;
  padding: 0 20px 20px 20px;
  border: 5px neon light blue;
}



img {
  display: block;
  margin: 0 auto;
}
